/* 下面两个是去掉百度地图的logo的 */
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}

[v-cloak] {
    display: none;
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
}
li{
    list-style-type: none;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

#app{
    margin: auto;
    width: 85vw;
}

/* 顶部栏 */
.top{
    position: relative;
    margin: auto;
    height: 50px;
    background: white;
}
.top>.logo{
    position: absolute;
    top: 12px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255,61,1);
}
.top>.mobile-logo{
    display: none;
}
.top>nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    line-height: 50px;
}
.top>nav>li{
    cursor: pointer;
}
.top>nav>li:hover{
    color: red;
}

/* 广告栏 */
.adv-box{
    display: flex;
    justify-content: center;
    height: calc(90vw / 1920 * 900);
    background: url(../pictures/adv-bg.jpg);
    background-size: 100% 100%;
}
.adv-box>.inner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 70%;
    background: rgba(7,50,60,.5);
}
.adv-box .logo{
    font-size: 3.5vw;
    line-height: 5vw;
    height: 5vw;
    color: rgb(255,224,71);
}
.adv-box .title{
    font-size: 3vw;
    line-height: 5vw;
    height: 5vw;
    color: white;
}
.adv-box .title2{
    font-size: 2.2vw;
    line-height: 5vw;
    height: 5vw;
    color: rgb(200,200,200);
}

/* 位置信息 */
.pos-box{
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    background: rgb(245,245,245);
}

/* 当前位置 */
.pos-box .current-pos{
    margin: auto;
    display: flex;
    width: 270px;
    height: 50px;
    background: rgb(237,237,237);
    border-radius: 25px;
}
.pos-box .current-pos>img{
    margin-top: 10px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
.pos-box .current-pos>p{
    width: 120%;
    height: 100%;
    line-height: 50px;
    font-size: 17px;
    text-align: center;
    /* 文字超出显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 距离表格 */
.my-table-h3{
    margin-bottom: 10px;
}
.my-table{
    margin-bottom: 50px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}
.my-table>ul{
    display: flex;
    align-items: center;
    height: 50px;
}
.my-table>ul>li{
    border: 1px solid black;
}
.my-table>ul>li.item-home{
    opacity: .65;
}
.my-table>ul>li.item-home:hover{
    opacity: 1;
}
.my-table p{
    width: 100px;
    height: 20px;
    text-align: center;
}
.my-table p:nth-child(1){
    border-bottom: 1px solid black;
}

/* 手机端 */
.mobile-details-box>ul{
    width: 80%;
}
.mobile-details-box .current-pos>p{
    width: 70%;
    /* 文字超出显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 定位信息的三行标题 */
.pos-box .title1{
    margin: auto;
    width: 100%;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
}
.pos-box .title2{
    margin: auto;
    width: 100%;
    height: 20px;
    font-size: 14px;
    color: rgb(180,180,180);
    text-align: center;
    line-height: 15px;
}
.pos-box .title3{
    margin: auto;
    width: 100%;
    font-size: 16px;
    color: rgb(100,100,100);
    text-align: center;
    line-height: 20px;
}

/* 定位信息的banner */
.mobile-outer-banner{
    margin: auto;
    width: 200px;
    overflow-x: scroll;
}
.banner{
    padding-top: 25px;
    display: flex;

    justify-content: space-around;
}
.mobile-banner{
    justify-content: none !important;

    width: 650px;
}
.banner li{
    width: 200px;
}
.banner img{
    margin: auto;
    display: block;
    width: 130px;
    height: 130px;
    border: 2px solid red;
    border-radius: 50%;
}
.banner li>.title{
    height: 30px;
    line-height: 45px;
    text-align: center;
}
.banner li>p:nth-of-type(2) {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.banner .details>.detail{
    text-align: center;
    font-size: 12px;
    color: rgb(100,100,100);
}
.banner .lng-lat .lng, .banner .lng-lat .lat{
    text-align: center;
    font-size: 12px;
    color: red;
}

/* 定位信息最底下的button按钮 */
.read-more-btn{
    margin: auto;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border: 2px solid red;
    border-radius: 15px;
    cursor: pointer;
}
.read-more-btn:hover{
    opacity: .7;
}

/* 数据分析 */
.analysis-box{
    
}
.analysis-box>.title-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.analysis-box .title1{
    font-size: 16px;
    font-weight: normal;
}
.analysis-box .title2{
    font-size: 12px;
    font-weight: normal;
    color: rgb(180,180,180);
}

/* 百度地图 */
.map-box{
    display: flex;
    width: 100%;
    height: 90vh;
}
#map{
    width: calc(100% - 110px);
    height: 80vh;
    margin-bottom: 20px;
}
.map-utils{
    width: 140px;
    height: 80vh;
    background: rgb(245,245,245);
}
.map-utils>li{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: .7;
}
.map-utils>li:hover{
    opacity: 1;
}
.map-utils>li>img{
    width: 20px;
    height: 20px;
}
.map-utils>li>span{
    display: block;
    width: 85px;
}

/* PC端echarts-box */
.echarts-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#echarts1{
    width: 400px;
    height: 350px;
}
#echarts2{
    width: 350px;
    height: 350px;
}
#echarts3{
    width: 500px;
    height: 450px;
}

/* mobile端echarts-box */
.mobile-echarts-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-echarts1{
    transform: scale(.75);
}
.mobile-echarts2{
    transform: scale(.75);
}
.mobile-echarts3{
    transform: scale(.75);
}

/* 店铺详细信息 */
.details-box{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 230px;
    background: linear-gradient(rgb(7,2,5),rgb(227,79,187),rgb(14,248,233));
    color: rgb(245,200,41);
}
.mobile-details-box{
    height: 450px;
    flex-direction: column;
}
.details-box img{
    margin-left: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    transform: translateY(10px);
}
.details-box>ul>li>p{
    margin-left: 5px;
    display: inline-block;
}
.details-box .store-cover{
    width: 250px;
    height: 180px;
}
.details-box .mobile-store-cover{
    transform: translateY(-10px);
}

/* footer */
footer{
    width: 100%;
    color: rgb(180,180,180);
    font-size: 14px;
    background: rgb(34,34,34);
}
footer>*{
    background: rgb(34,34,34) !important;
}
footer>.top{
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 240px;
}
footer>.top>ul>li{
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
footer>.top>ul>li:hover{
    color: rgb(255,61,1);
}
.QR-code-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 130px;
    height: 180px;
}
.QR-code-box>span{
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.QR-code-box>img{
    width: 130px;
    height: 130px;
}
footer>.bottom1{
    height: 50px;
    border-top: 1px solid black;
    text-align: center;
    line-height: 50px;
    color: rgb(100,100,100);
}
footer>.bottom2{
    height: 50px;
    border-top: 1px solid black;
    text-align: center;
    line-height: 50px;
}